:root {
	--color-background: rgb(243, 201, 68);
	--color-accent: rgb(243, 201, 68);
	--color-text: rgb(27, 27, 27);
	--color-subtext: rgb(100, 100, 100);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
