.card {
	width: 360px;
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	box-shadow:
		rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.illustration {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.caption {
	background-color: var(--color-background);
	display: inline-block;
	color: var(--color-text);
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.date {
	font-size: 14px;
	color: var(--color-text);
	font-weight: 600;
}

.heading {
	font-size: 28px;
	color: var(--color-text);
	cursor: pointer;
	transition: color 0.2s;
}

.heading:hover {
	color: var(--color-background);
}

.text {
	font-size: 14px;
	color: var(--color-subtext);
	line-height: 1.5;
}

.footer {
	display: flex;
	gap: 15px;
	align-items: center;
}

.avatar {
	width: 40px;
	height: auto;
}

.name {
	font-size: 14px;
	font-weight: 800;
}
